<ion-view view-title="Liste des villes">

  <ion-content scroll="false" padding="'true'">

    <div>

        <button class="button button-icon icon ion-ios-minus-outline"
          ng-click="data.showDelete = !data.showDelete; data.showReorder = false"></button>


      <form class="form-group" ng-submit="searchCity(query)">

        <label style="" name="city_query" class="item item-input">
          <input placeholder="Choisissez une ville" type="text" ng-model="query.city_name">
          <button type="submit" class="button icon ion-search placeholder-icon"></button>
        </label>
      </form>

    </div>

    <ion-list
            show-delete="shouldShowDelete"
            show-reorder="true"
            can-swipe="true">

      <ion-item ng-repeat="city in cities"
                class="item-thumbnail-left">
        <!--<a href="#/tab/city/{{city.id}}"></a>-->
        <img ng-src="{{city.logo}}">
        <h2>{{city.name}}</h2>
        <p>{{city.desc}}</p>

      </ion-item>
    </ion-list>

  </ion-content>
</ion-view>
