<ion-view view-title="Google Map">

    <ion-content scroll="false" padding="false">

        <div class="item">
            <div id="map" data-tap-disabled="true"></div>
            <a ng-click="vm.centerOnMe()" class="button button-icon icon ion-navigate">Find Me</a>
        </div>

        <div ng-if="vm.hasGeolocation">
            <div class="item">

                You are in : {{vm.currentAddress}}

            </div>
        </div>

        <div ng-if="!vm.hasGeolocation">
            <div class="item">
                <div class="item item-input item-button-right">
                    <input placeholder="Saisissez votre ville" type="text" ng-model="query.city_name">
                    <button class="button-icon ion-location"
                            ng-click="vm.searchCity(query)"></button>
                </div>
            </div>
        </div>



    </ion-content>

</ion-view>