<ion-view view-title="Options">

    <ion-content padding="false">

        <div class="item item-button-right">
            Réinitialiser les villes
            <button class="button button-positive"
                    ng-click="vm.reinit()">
                <i class="icon ion-close"></i>
            </button>
        </div>

        <div class="item item-button-right">
            Limiter la carte à la zone de la France
            <button class="button button-positive"
                    ng-click="vm.reinit()">
                <i class="icon ion-close"></i>
            </button>
        </div>



    </ion-content>

</ion-view>