<ion-view view-title="Options">

    <ion-content padding="false">

        <div class="item item-button-right">
            Réinitialiser les villes
            <button class="button button-positive"
                    ng-click="vm.reinit()">
                <i class="icon ion-close"></i>
            </button>
        </div>

        <div class="item item-toggle">
            Limiter la carte à la zone de la France
            <label class="toggle toggle-assertive">
                <input type="checkbox" ng-model="vm.isMapLimited">
                <div class="track">
                    <div class="handle"></div>
                </div>
            </label>
        </div>

        <div class="item item-toggle">
            GPS précision
            <label class="toggle toggle-assertive">
                <input type="checkbox" ng-model="vm.hasHighAccuracyGPS">
                <div class="track">
                    <div class="handle"></div>
                </div>
            </label>
        </div>


    </ion-content>

</ion-view>